body {
  background-color: #34363b;
  color: white;
  margin: 1vw;
}

.mainHome {
  display: flex;
  flex-direction: column;
}

header {
  align-items: center;
  display: flex;
  margin: auto;
}

header .searchInput {
  border-radius: 5px;
  height: 20px;
  margin-right: 5px;
}

header button {
  border: none;
  border-radius: 5px;
  height: 30px;
  margin-right: 5px;
}

header a button {
  align-items: center;
  display: flex;
  font-size: 20px;
  justify-content: center;
  position: absolute;
  right: 1vw;
  top: 2vh;
}

.initialMsg {
  text-align: center;
}

.mainContent {
  display: flex;
  gap: 5vw;
  margin-top: 10px;
}
