.product {
  align-items: center;
  background-color: #18191c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-around;
  padding: 0.6vh;
  width: 10vw;
}

.product img {
  border-radius: 5px;
}

.product img:hover {
  height: 110px;
}

a {
  text-decoration: none;
}

.product h4 {
  color: aliceblue;
  font-size: normal;
}

.product span {
  color: aliceblue;
}

hr {
  background-color: #292b2f;
  border: none;
  height: 2px;
  width: 90%;
}
