.categoriesList {
  align-items: center;
  background-color: #2c2f33;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 0.5%;
  max-height: 70vh;
  max-width: 15vw;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 35px;
  text-align: center;
}

.categoriesList h3 {
  color: white;
  font-family: Courier-New , Courier , monospace;
}

.categoriesList button {
  background-color: #7e67ae;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: width 150ms ease-in-out;
  width: 120%;
}

.categoriesList button h4 {
  font-family: Lucida-Sans , Verdana , sans-serif;
  white-space: nowrap;
}

.categoriesList button:hover {
  width: 135%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #7e67ae;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b3e68;
}
